<footer class="footer">
  <div class="container">
    <ul class="mob_soc_list">
      <li>
        <a href="">
          <svg class="mob_soc_icon" width="32" height="32">
            <use href="./img/icons.svg#icon-heard"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="mob_soc_icon" width="32" height="32">
            <use href="./img/icons.svg#icon-planer"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="mob_soc_icon" width="29" height="32">
            <use href="./img/icons.svg#icon-home"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="mob_soc_icon" width="32" height="32">
            <use href="./img/icons.svg#icon-searh"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="mob_soc_icon" width="32" height="32">
            <use href="./img/icons.svg#icon-account"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="footer_nav_wrap">
      <ul class="footer_nav_list">
        <li><a href="" class="footer_nav_link">Home</a></li>
        <li><a href="" class="footer_nav_link">Inspiration</a></li>
      </ul>
      <a href="" class="footer_logo">Yes</a>

      <ul class="footer_nav_list">
        <li><a href="" class="footer_nav_link">Fotografi</a></li>
        <li><a href="" class="footer_nav_link">Lokation</a></li>
      </ul>
    </div>
    <div class="footer_soc_wrap">
      <ul class="footer_soc_list">
        <li>
          <a href="">
            <svg class="footer_soc_icon" width="38" height="38">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="footer_soc_icon" width="38" height="38">
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="footer_soc_icon" width="38" height="38">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="footer_soc_icon" width="38" height="38">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="footer_soc_icon" width="38" height="38">
              <use href="./img/icons.svg#icon-pinterest"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer_text_wrap">
        <p class="footer_title">© 2010 — 2023</p>
        <p class="footer_title">Privacy — Terms</p>
      </div>
    </div>
  </div>
</footer>
