<section class="gallery">
  <div class="container gallery_container">
    <h2 class="gallery_title">Find inspiration</h2>
    <form class="gallery_form">
      <button class="gallery_btn">
        <svg class="gallery_icon" width="32" height="32">
          <use href="./img/icons.svg#icon-searh"></use>
        </svg>
      </button>
      <input type="text" class="gallery_input" />
    </form>
    <h3 class="gallery_subtitle">Fotografi & videografi</h3>
    <ul class="gallery_list">
      <li><img src="./img/img_1.jpg" alt="wedding" width="164" /></li>
      <li><img src="./img/img_2.jpg" alt="wedding" width="164" /></li>
      <li><img src="./img/img_3.jpg" alt="wedding" width="164" /></li>
      <li><img src="./img/img_4.jpg" alt="wedding" width="164" /></li>
      <li><img src="./img/img_5.jpg" alt="wedding" width="164" /></li>
      <li><img src="./img/img_6.jpg" alt="wedding" width="164" /></li>
    </ul>
  </div>
</section>
