<section class="hero">
  <div class="container">
    <ul class="hero_list">
      <li class="hero_item">
        <span class="hero_nom">27</span>
        <p class="hero_text">Weeks</p>
      </li>
      <li class="hero_item">
        <span class="hero_nom">0</span>
        <p class="hero_text">Days</p>
      </li>
      <li class="hero_item">
        <span class="hero_nom">0</span>
        <p class="hero_text">Hours</p>
      </li>
      <li class="hero_item">
        <span class="hero_nom">0</span>
        <p class="hero_text">Minutes</p>
      </li>
    </ul>
    <p class="hero_desk">2/15</p>
    <img src="./img/hero_mob.png" width="310" alt="" class="hero_img" />
    <p class="hero_description">Din progression</p>
    <img src="./img/hero_desk.png" width="455" alt="" class="hero-desk" />
  </div>
</section>
