.header {
  padding-top: 26px;
  padding-bottom: 28px;
}
.backdrop {
  display: none;
}
.header_container {
  display: flex;
 justify-content: right;
  gap: 75px;
}
.logo {
  display: none;
}
.navigation_header {
  display: none;
}

.header_img {
  display: none;
}
.header_name {
  font-family: "Paprika", sans-serif;
font-size: 20px;
color: #0d0d0d;

}
@media only screen and (min-width: 1280px) {
   .header {
    background: #2f2f2f;
    padding: 0;
}

.header_container {
  justify-content: unset;
  gap: unset;
  align-items: center;
}
.logo {
  display: block;
  font-family: "Homemade Apple", sans-serif;
margin-right: auto;
font-size: 36px;
text-align: center;
color: #fff;

}
.navigation_header {
  display: flex;
}
.nav_list {
  display: flex;
  gap: 24px;
  margin-right: 36px;
  align-items: center;
}

.nav_button{
background-color: transparent;
border: none;
cursor: pointer;
color: #fff;
}

.nav_link {
  display: block;
  padding: 27px 0;
  color: #fff;
}
.header_img {
  display: block;
}
.header_name {
  display: none;
}
.header_link {
  display: none;
}
.backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  display: block;
}
.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  transform: translate(-50%, -50%);
    top: 7%;
    left: 38%;
    width: 94px;
 
background: #f4f4f4;
padding: 36px 19px 46px;

}
.modal-close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 6px;
  right: 6px;
}
.modal-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
}
    
  
}
